{% extends 'partials/base.html.twig' %}

{% block content %}
  <section id="main">
    <header>
      <div class="wrapper--inner">
        <h1>{{ page.header.title }}</h1>
        {{ page.header.subtitle|markdown }}
      </div>
    </header>

    <!-- Content -->
    <div class="page"></div>
    <div class="wrapper--inner">
      <div class="inner">
        <div class="page">
          {{ page.content }}
        </div>
        {#{% include 'partials/features.html.twig' with { 'features': page.header.features } %}#}
      </div>
    </div>
  </section>
{% endblock %}