<nav id="mainMenu" class="main-menu">
  <div class="wrapper--inner">
    <h2>{{ site.header.menu_name }}</h2>
    <ul id="mainMenuUl" class="links main-menu__links sans">
      {% for page in pages.children %}
        <li><a class="main-menu__link" href="{{ page.url }}">{{ page.menu }}</a></li>
      {% endfor %}
    </ul>
    <a href="javascript:" id="mainMenuClose" class="main-menu__close">
      <span class="main-menu__close--first"></span>
      <span class="main-menu__close--second"></span>
      <span class="main-menu__close--third"></span>
    </a>
  </div>
</nav>